# Ignore all
admin079pb132c/*
app/*
bin/*
cache/*
classes/*
config/*
controllers/*
docs/*
download/*
img/*
install_/*
js/*
localization/*
mails/*
override/*
pdf/*
src/*
tools/*
translations/*
upload/*
var/*
vendor/*
webservice/*

#modules

modules/*
!modules/pos*
!modules/creativeelements
!modules/smartblog*
modules/creativeelements/views/css/ce/*
modules/posmegamenu/views/css/posmegamenu_s_*.css
modules/posvegamenu/views/css/posvegamenu_s_*.css
modules/posthemeoptions/views/css/posthemeoptions_s_*.css
modules/smartblog/images/*


#themes

themes/classic/*
themes/theme_optima/_dev/node_modules